body {
  background: #eff0eb;
  background-image: url('https://img.freepik.com/free-photo/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1095.jpg?size=626&ext=jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.blockquote-custom {
  position: relative;
  font-size: 20px;
}

.blockquote-custom-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -25px;
  left: 50px;
}

.btn {
  border: 2px solid rgb(17, 136, 184);
  background: transparent;
  padding: 10px 15px;
  color: #008CBA;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  position: relative;
  margin: 15px;
  width: 200px;
}

.btn:hover {
  background-color: rgb(17, 128, 143);
  color: aqua
}

/* #btn-style {
  position: fixed;
  bottom: 80px;
  right: 40%;
} */